body    {
    background-image: url(https://img.freepik.com/premium-psd/top-view-mathematics-background-with-notebook-numbers_23-2148458901.jpg?w=2000);
	font-family:sans-serif,fantasy;   
}

h1{
	font-weight: bolder;
    color: white;
}

	.play1 , .play2       {
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
#player1_name , #player2_name       {
	display: inline-block;
	margin-left: 20px;
	width: 90%;
}
#word       {
	width: 60%;
}
#word_display       {
	letter-spacing: 5px;
}

#player_question , #player_answer   {
 color: rgb(255, 255, 255);   
}

#output     {
background: rgb(252, 18, 18);
border-radius: 10px;
border-top: 10px solid #02f8d7;
padding: 10px;
float: none;
text-align: left;
}
